{% extends "layout.html" %}
{% block content %}

<div class="profile">
    <h1 class="my-3 ml-3">

    </h1>

    <div class="ml-3 mr-3">
        <h5 class="card">
            <div class="card-header font-weight-bold">経歴</div>
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td>2015年3月</td>
                        <td>近畿大学附属高等学校: 卒業</td>
                    </tr>
                    <tr>
                        <td>2015年4月</td>
                        <td>神戸大学工学部情報知能工学科: 入学</td>
                    </tr>
                    <tr>
                        <td>2019年3月</td>
                        <td>同上: 卒業　学士取得</td>
                    </tr>
                    <tr>
                        <td>2019年4月</td>
                        <td>神戸大学大学院 システム情報学研究科 計算科学専攻: 入学</td>
                    </tr>
                </tbody>
            </table>
        </h5>

        <h5 class="card my-3">
            <div class="card-header font-weight-bold">使用技術</div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th class="text-left">言語・技術</th>
                        <th class="text-left">用途・レベル</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>JavaScript</td>
                        <td>Webアプリ制作(フロントエンド)</td>
                    </tr>
                    <tr>
                        <td>Vue.js</td>
                        <td>フロントエンドのフレームワークとして使用</td>
                    </tr>
                    <tr>
                        <td>PHP</td>
                        <td>Webアプリ制作(バックエンド)：データベースへのアクセス</td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>2Dゲーム制作，簡易なWebサービス</td>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>簡単なアルゴリズムの実装レベル</td>
                    </tr>
                    <tr>
                        <td>Flask</td>
                        <td>ポートフォリオの制作</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>基本を抑えているレベル</td>
                    </tr>
                </tbody>
            </table>
        </h5>
    </div>
</div>

{% endblock %}